body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  /*font-size: 120%;*/
}

#extension_window {
  /* Golden Ratio */
  width: 300px;
  height: inherit;  
  max-height: 485px; 
}

#btn1 {
  display: block;
  width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#status {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: visible;
}

#lucid_header {
  text-align: center;
}

.panel-rev-body {
  padding: 6px;
}

.panel-rev {
  display: none;
}

p {
  margin: 0px;
}

.list_of_revs {
  margin-bottom: 0px;
}