body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  /*font-size: 120%;*/
}

#extension_window {
  /* Golden Ratio */
  width: 300px;
  height: 485px;  
}

#status {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: visible;
}

#lucid_header {
  text-align: center;
}

.rev_box {
  padding: 5px;
}

.rev-panel-body {
  padding: 3px;
}

.panel {
  display: none;
}